.asaid {
  &__container {
    position: fixed;
    top: 89px;
    width: 300px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding-left: 40px;
    padding-top: 50px;
    background-color: #F9F9F9;
  }

  &__button {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 1.17;
    color: #6B6B6B;
    text-align-last: left;
    background-color: #F9F9F9;
    padding-left: 50px;
    transition: all 0.3s ease;
    text-transform: capitalize;

    &:hover {
      color: #FF4F5A;
    }

    &.active {
      color: #FF4F5A;
    }
  }

}

.all {
  background-image: url(../../../public/img/ion_calendar-clear.svg);
  background-repeat: no-repeat;

  &:hover, &.active {
    background-image: url(../../../public/img/ion_calendar-clear-active.svg);
  }
}

.completed {
  background-image: url(../../../public/img/ion_calendar.svg);
  background-repeat: no-repeat;

  &:hover, &.active {
    background-image: url(../../../public/img/ion_calendar-active.svg);
  }
}

.uncompleted {
  background-image: url(../../../public/img/ion_calendar-number.svg);
  background-repeat: no-repeat;

  &:hover, &.active {
    background-image: url(../../../public/img/ion_calendar-number-active.svg);
  }
}

.button-active {
  color: #FF4F5A;
}